.site-author-image {
  border: 0px;
}

.headband {
  height: 0px;
}

blockquote {
  background-color: #f3f3f3;
}

.post-block{
  opacity: 1;
}

body {
    background-image: url("https://bing.img.run/rand.php");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}